.central{
    height: calc(100vh - 50px);
    background: url('../imagens/fundo-central.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0,0,0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.central__titulo{
    color: #fff;
    font-size: 4.3rem;
    font-weight: bold;
    margin-bottom: .5rem;
}
.central__subtitulo{
    color: #fff;
    font-size: 1.1rem;
}
.btnMatricula{
    padding: 1rem 2rem;
    margin-top: 6rem;
    background-color: #fff;
    border-radius: 5px;
    text-decoration: none;
    color: #212529;
}